.chatpage-chatbot-container {
    position: absolute;
    display: flex;
    right: 2%;
    top: 0;
    box-sizing: border-box;
    flex-direction: column;
    width: 74%;
    height: calc(100% - (5rem));
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .chatpage-chatbot-messages {
      flex-grow: 1;
      overflow-y: auto;
      scroll-behavior: smooth;
      height: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  
 .chatpage-chatbot-input-container {
      display: flex;
      padding: 10px;
    }
  
.chatpage-chatbot-input::placeholder {
    vertical-align: middle;
    }
  
.chatpage-chatbot-input {
      flex-grow: 1;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-right: 10px;
      width: calc(100% - 20px - 60px);
      overflow: hidden; /* Prevent scrollbar */
      resize: none;
    }
    
.chatpage-chatbot-submit {
      padding: 10px 0;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 60px;
      text-align: center;
    }

.chatpage-chatbot-submit:hover {
      background-color: #0056b3;
    }
  
.chatpage-chatbot-message {
      padding: 0px;
      margin: 5px;
      border-radius: 10px;
      width: 100%;
      word-break: break-word;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1%;
      max-width: 50%;
    }
    
.chatpage-chatbot-message.user {
      background-color: white;
      color: black;
      align-self: flex-end;
      margin-left: auto;
    }
  
.chatpage-chatbot-message.bot {
      background-color: #007bff;
      color: white;
      align-self: flex-start;
      margin-right: auto;
    }

.chatpage-chatbot-messages::-webkit-scrollbar {
    width: 0;
  }
  
.chatpage-chatbot-messages::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
.chatpage-chatbot-messages::-webkit-scrollbar-track {
    background-color: transparent;
  }

 