.chatbot-container {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    top: 6%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    margin-left: 10px;
    /* font-size: 20px; */
  }
    
  
  .chat-messages {
      flex-grow: 1;
      padding: 10px;
      overflow-y: auto;
      scroll-behavior: smooth;
      height: calc(100% - 20px);
      -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
      scrollbar-width: none;
    }
  
  .chat-input-container {
      display: flex;
      padding: 10px;
    }
  
  .chat-input::placeholder {
    vertical-align: middle;
    }
  
  .chat-input {
      flex-grow: 1;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-right: 10px;
      width: calc(100% - 20px - 60px);
      overflow: hidden; /* Prevent scrollbar */
      resize: none;
    }
    
  
    
  .chat-submit {
      padding: 10px 0;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 60px;
      text-align: center;
    }
    
    
  .chat-submit:hover {
      background-color: #0056b3;
    }
  
  .message {
      padding: 0px;
      margin: 5px;
      border-radius: 10px;
      max-width: 100%;
      word-break: break-word;
    }
    
  .message.user {
      background-color: #007bff;
      color: white;
      align-self: flex-end;
    }
  
  .message.bot {
      background-color: #007bff;
      color: white;
      align-self: flex-start;
    }
  
  .chat-submit {
    width: 60px;
  }

  .chat-messages::-webkit-scrollbar {
    width: 0;
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .session-list {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: start; /* 왼쪽 정렬 */
    padding: 10px; /* 필요에 따라 조정 */
    /* 추가적인 스타일링 */
  }
  
  .session-list button {
    margin-bottom: 10px; /* 버튼 사이의 간격 */
    /* 버튼 스타일링 */
  }