.header-menu {
  background-color: rgba(157, 194, 237, 0.7);
  padding: 1rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.header-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex: 1;
}

.header-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-middle {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  margin: 0 1rem;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.login-button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-button:hover {
  background-color: #ddd;
}
