#learn_other {
    background-color: white;
    display: flex;
    flex-direction: row;
}

#learn_body {
    width: 65%;
    margin-left: 3%;
    height: 80%;
}

#learn_up {
    height: 14%;
    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
}

#learn_up > span {
    margin-left: 5%;
}

#learnBtn {
    padding: 10px 20px;
    font-size: 1em;
    width: 20%;
    background-color: #BDD98E;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#learnBtn:hover {
    background-color: #b3d675;
}

#learn_up > button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #BDD98E;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#learn_up > button:hover {
    background-color: #b3d675;
}

#learn_up_left {
    width: 50%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-right: 20%;
    padding-left: 5%;
}

#learn_down {
    height: 86%;
    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
}



